@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Disable scrolling on the entire page */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins'; /* Global font change */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-image: url('./background3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.card {
  background: #ffffff;
  border-radius: 20px; /* Smooth curved edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  max-width: 800px;
  padding: 20px;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  max-height: calc(100vh - 40px); /* Prevents card from overflowing */
  box-sizing: border-box;
  margin: 0 auto; /* Centers the card horizontally */
}


.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 0 auto;
}

.subtitle {
  color: #6b7280;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.choice{
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input, textarea {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.button {
  background-color: #2563eb;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #1d4ed8;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #6b7280;
}

.link {
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
}

.req {
  color: red;
  font-weight: bold;
}