@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;
}

.content a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #2563eb;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover{
    background-color: #2563eb;
    color:#000;
}

.background-clip{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}

.card {
    background: #ffffff;
    border-radius: 20px; /* Smooth curved edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    max-width: 800px;
    padding: 20px;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    max-height: calc(100vh - 40px); /* Prevents card from overflowing */
    box-sizing: border-box;
    margin: 0 auto; /* Centers the card horizontally */
  }
  
  
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0 auto;
  }
  
  .subtitle {
    color: #6b7280;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .choice{
    margin: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input, textarea {
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .button {
    background-color: #2563eb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #1d4ed8;
  }
  
  .navigationButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #6b7280;
  }
  
  .link {
    color: #2563eb;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .req {
    color: red;
    font-weight: bold;
  }